<!--<div class="container">-->
<!--  &lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="col-12">&ndash;&gt;-->
<!--  &lt;!&ndash;      <app-cars></app-cars>&ndash;&gt;-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="col-xs-8 col-xs-oddset-2">-->
<!--    <h3 [appBackground]="'red'" [defaultColor]="'yellow'">{{headerText}}</h3>-->

<!--    <ul class="list-group">-->
<!--      <li *ngFor="let item of items" (click)="onCLick(item)" class="list-group-item">-->
<!--        {{item}}-->
<!--      </li>-->
<!--    </ul>-->

<!--    <div [ngSwitch]="current">-->
<!--      <p *ngSwitchCase="1">1</p>-->
<!--      <p *ngSwitchCase="2">2</p>-->
<!--      <p *ngSwitchCase="3">3</p>-->
<!--      <p *ngSwitchDefault>default</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="col-xs-8 col-xs-offset-8">
  <h1>{{asyncTitle | async}}</h1>
  <input type="text" class="form-control" [(ngModel)]="searchCar">
  <hr>
  <button class="btn btn-primary" (click)="addCar()">Добавить</button>
  <hr>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let car of cars | carFilter:searchCar:'name'; let i=index ">
      <b>{{i + 1}}</b>
      {{car.name}}
    </li>
  </ul>
</div>
